body {
  background-color: #1d1d1d;
  color: whitesmoke;

}


img {
  height: 50px;
  width: 50px;



}

.logoImg {
  height: 30px;
  width: 30px;
  border-radius: 50%;


}

.nameClass {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto Mono;
  color: aliceblue;
  font-size: 3rem;
  font-weight: 500;
}




.subTitle {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoClass {
  height: 5rem;
  width: 10rem;
  padding: 25px;

}

.backgroundColor {
  background-color: rgb(rgb(104, 16, 16));
  backdrop-filter: blur(5px);

}


.fontClass {
  font-family: Roboto Mono;
}

.cardClass {
  height: 5em;
  width: 25rem;

}




.nineStarsAnimation {

  position: absolute;
  animation: ninestarsmove 3s forwards ease-out;
  animation-direction: normal;

}


@keyframes ninestarsmove {
  0% {
    left: 0px;
    top: 0px;
  }


  100% {
    left: 25rem;
    top: 0rem;

  }
}

.ramtechAnimation {

  position: absolute;
  animation: ramtechmove 5s forwards ease-out;
  animation-direction: normal;

}

@keyframes ramtechmove {
  0% {
    left: 0px;
    top: 0px;
  }

  50% {
    left: 25rem;
    top: 0rem
  }

  100% {
    left: 50rem;

    top: 0rem;

  }
}


.Anim {
  margin: 500px;

  margin-top: 100rem;
  /* margin-left: 500px; */
  height: 10rem;
  width: 200px;
  border-width: 50px;
  border-color: aqua;
  background-color: aqua;
  position: relative;
  transform: translateY(150px);
  transition: 2s all ease
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;

}



.typedOut {
  overflow: hidden;
  white-space: nowrap;
  animation:
    typing 2s alternate infinite;


}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 30%
  }
}