.main {

    color: white;
    background-color: black;
    border-color: yellow;
}

.spanColor {
    color: red;
}

.color {
    color: aquamarine;
    background-color: black;
    height: 75vh;
    display: flex;
    padding: 50px;
    justify-content: flex-start;
    align-items: normal;
    flex-direction: column;
    font-size: xx-large;
} 




.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
    border-color: yellow;
    height: 100vh;
}


.homeText{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    background-color: black;
    height: 75vh;
    display: flex; 
    font-size: 50px;
  font-family: 'IBM Plex Mono', monospace;
}

.crudText{
    display: flex;
    justify-content: center;
    align-items: center;
}
