.main {

    color: white;
    background-color: black;
    border-color: yellow;
}

.spanColor {
    color: red;
}

.color {
    color: aquamarine;
    background-color: black;
    height: 75vh;
    display: flex;
    padding: 50px;
    justify-content: flex-start;
    align-items: normal;
    flex-direction: column;
}




.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
    border-color: yellow;
    height: 100vh;
}


.create {
    animation: flipX 2s ease-in infinite alternate-reverse;
    color: blue;
}

@keyframes flipX {
    0% {
        transform: translateX(0vh);
    }

    100% {
        transform: translateX(100vh);
    }
}


.read {
    animation: flipX 3s ease-in infinite alternate-reverse;
    color: mediumaquamarine;
}

@keyframes flipX {
    0% {
        transform: translateX(15vh);
    }

    100% {
        transform: translateX(100vh);
    }
}


.update {
    animation: flipX 3s ease-in infinite alternate-reverse;
    color: yellowgreen;
}

@keyframes flipX {
    0% {
        transform: translateX(25vh);
    }

    100% {
        transform: translateX(100vh);
    }
}


.delete {
    animation: flipX 2s ease-in infinite alternate-reverse;
    color: red;
}

@keyframes flipX {
    0% {
        transform: translateX(40vh);
    }

    100% {
        transform: translateX(100vh);
    }
}