 .App {
  text-align: center;
}


.rowClass{
  margin-top: 20px;
  border-top: 40px;
}

.colClass{
  height:90vh;
  width: 25vw;

  border-radius: 20px;
}

.mainDiv{
  height:150vh;
  width:100vw;

}

.fontClass{
  font-size: 50px;
  font-weight: bold; 
  font-weight: 500;
}


button{
  width : 250px;
  height: 50px;
  border-radius: 30px;
  font-size: large;
  
}


